<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">

 <div layout:fragment="content" class="container">
	<div class="col-md-10">
				<div class="panel panel-primary" >
					<div class="panel-heading" >Créer un nouveau service</div>
					<div class="panel-body">
							<form th:action="@{/addService}" method="post" >
								
							<div>
								
								<div class="form-group">
										 <label>Categorie de service</label>
										 <div class="col-md-5">
											     <div th:if="${categorieList != null and not #lists.isEmpty(categorieList)}">
											         <select name="categorie" class="form-control" >
											             <option th:each="dropDownItem : ${categorieList}"
											                             th:value="${dropDownItem.id}"
											                             th:text="${dropDownItem.designation}"  />
											         </select>
											    </div>
											    <div th:if="${categorieList == null or #lists.isEmpty(categorieList)}">
											        <div>"pas de categorie"</div>
											    </div>
										</div>
								</div>
								</div>
								<br/>
								 <div class="form-group">
								<label>Designation</label>
								<input type ="text" name="designation" class="form-control" />
								</div>
								
								<div class="form-group">
								<label>Durée de rendez vous</label>
								<input type ="text" name="duree" class="form-control"/>
								</div>
								<div class="form-group">
								<label>Prix</label>
								<input type="text" name="prix" class="form-control"/>
								</div>
							
								<button type="submit" class="btn btn-primary">OK</button>
							</form>
					</div>
				</div>
			</div>

</div>
</html>

