<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">

 <div layout:fragment="content" class="container">
	<div class="col-md-12">
				<div class="panel panel-primary" >
					<div class="panel-heading" >Prendre un rendez vous</div>
					<div class="panel-body">
							<form th:action="@{/addApp}"  th:object="${rdv}" method="post" >
								
							
								<div class="form-groupl">
										 <label>Categorie de service</label>
										 <div   >
											     <div th:if="${categorieList != null and not #lists.isEmpty(categorieList)}" >
											         <select name="categorie" class="form-control" >
											             <option th:each="dropDownItem : ${categorieList}"
											                             th:value="${dropDownItem.id}"
											                             th:text="${dropDownItem.designation}" />
											         </select>
											    </div>
											    <div th:if="${categorieList == null or #lists.isEmpty(categorieList)}">
											        <div class="form-control">"pas de categorie"</div>
											    </div>
										</div>
								</div>
								
								
								<div class="form-group">
										 <label>Service</label>
										 <div class="form-group">
											     <div th:if="${serviceList != null and not #lists.isEmpty(serviceList)}"  >
											         <select name="service" th:field="*{service}"  class="form-control" >
											             <option th:each="dropDownItem : ${serviceList}"
											                             th:value="${dropDownItem.id}"
											                             th:text="${dropDownItem.designation}" />
											         </select>
											    </div>
											    <div th:if="${serviceList == null or #lists.isEmpty(serviceList)}">
											        <div>"pas de categorie"</div>
											    </div>
										</div>
								</div>
								
								
								
								<div class="form-group">
										 <label>Prestataire de service</label>
										 <div >
											     <div th:if="${preList != null and not #lists.isEmpty(preList)}" >
											         <select name="utilisateur" th:field="*{utilisateur}" class="form-control" >
											             <option th:each="dropDownItem : ${preList}"
											                             th:value="${dropDownItem.cin}"
											                             th:text="${dropDownItem.nom}"  />
											         </select>
											    </div>
											    <div th:if="${preList == null or #lists.isEmpty(preList)}">
											        <div>"pas de categorie"</div>
											    </div>
										</div>
								</div>
								
								<div class="form-group">
								<label>Date</label>
								<input type="datetime-local" name="date" th:field="*{dateRdv}" class="form-control" />
								</div>
							
								<button type="submit" class="btn btn-primary btn-block">OK</button>
							</form>
					</div>
				</div>
			</div>

</div>
</html>